.about-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.no-gutters{
    margin-right: 0;
    margin-left: 0;
}
ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}